.env

/agents/companies
/agents/selenuim/json_jobs/*
/agents/Server/generated_pdfs/
/agents/Server/saved_pdfs/
/agents/Server/pending_jobs_summary/

/traffic_agent/colleagues_details/*
/traffic_agent/connections_details/*
/traffic_agent/messages/*
/traffic_agent/posts/*

/agents/*.pdf
/agents/*.txt

/data/
/db/
